@model AutoCrudAdmin.ViewModels.AutoCrudAdminEntityFormViewModel

@{
    Layout = ViewBag.LayoutName;
    var aspAction = Model.CustomActionName ?? $"Post{ViewContext.RouteData.Values["action"]}";
}

<form enctype="multipart/form-data" asp-action="@aspAction" style="display: flex; flex-direction: column">
    <div id="entity-form" style="display:flex; flex-direction: column; gap: 10px;">
        @await Html.PartialAsync("_EnityFormControlsPartial", Model.FormControls)
        <button class="btn btn-dark">@Model.Action</button>
    </div>
</form>

<script type="module" src="/js/mvc-grid-form.js"></script>
<script>
    $(document).ready(function () {
           $(".expandable").on('click', function (event) {
               const expandElementId = $(event.target).attr("expand");

               $(`#${expandElementId}`).attr('class').includes('d-none')
                   ? $(`#${expandElementId}`).removeClass('d-none')
                   : $(`#${expandElementId}`).addClass('d-none');
           });
       });
</script>